@page "/address"
@using Blazor4.Service
@inject SearchService SearchService


<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" style="list-style-type: none;">
                <strong>AddressID:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Address Line 1:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Address Line 2:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>City:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>State Province ID:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>PostalCode:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Spatial Location:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>rowguid:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>ModifiedDate:</strong>
                <span></span>
            </li>
        </ul>
    </div>
</div>
@code {

}
