@page "/payhistory"
@using Blazor4.Service;
@inject SearchService SearchService

<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" style="list-style-type: none;">
                <strong>BusinessEntityID:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>RateChangeDate:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Rate:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Pay Frequency:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Modified Date:</strong>
                <span></span>
            </li>
        </ul>
    </div>
</div>

@code {

}
