@page "/personaldetails"
@using Blazor4.Models
@using Blazor4.Service
@inject SearchService SearchService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Person Type:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Name Style:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Title:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>First Name:</strong>
                <span>@(SelectedPerson?.FirstName ?? "No user selected")</span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Middle Name:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Last Name:</strong>
                <span>@(SelectedPerson?.LastName ?? "No user selected")</span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Suffix:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Email Promotion:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Additional Contact Info:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Demographics:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>rowguid:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Modified Date:</strong>
                <span></span>
            </li>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public Person SelectedPerson { get; set; }

    protected override void OnInitialized()
{
    if (SelectedPerson == null)
    {
        // Redirect to the search page if no user is selected
        NavigationManager.NavigateTo("/humanresource");
    }
}
}
