@page "/shift"
@using Blazor4.Service;
@inject SearchService SearchService


<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Shift ID:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Start Time:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>End TIme:</strong>
                <span></span>
            </li>
            <li class="list-group-item" style="list-style-type: none;">
                <strong>Modified Date:</strong>
                <span></span>
            </li>
        </ul>
    </div>
</div>
@code {

}
